@media (max-width : 736px) {

    body {
        width       : 100%;
        box-sizing  : border-box;
        padding     : 0 10px;
        padding-top : 55px;
    }

    .navbar-fixed-top .navbar-inner {
        padding : 5px 10px 5px 15px;
    }

    .navbar.navbar-fixed-top {
        position : fixed !important;
        width    : 100%;
        margin   : 0 !important;
    }

    .navbar-fixed-top .navbar-inner {
        padding : 5px 10px 5px 5px;
    }

    .navbar-fixed-top.scroll {
        opacity : .65;
    }

    .navbar.scroll .nav-collapse .nav.pull-right li {
        line-height : normal;
    }

    .navbar .nav-collapse .nav.pull-right {
        height : 30px;
    }

    .navbar.scroll .nav-collapse .nav.pull-right {
        top : 15px;
    }

    .navbar.scroll a.brand {
        margin : 10px 0 0 0 !important;
    }

    .navbar .brand img {
        height : 20px;
        width  : 20px;
        margin : 0;
    }

    .navbar .brand {
        font-size : 20px;
        padding   : 0 0 0 10px;
    }

    .navbar .nav > li > a {
        padding   : 0 5px;
        font-size : 10px;
    }

    .navbar .nav-collapse .nav.pull-right {
        top : 0;
    }

    .navbar .brand {
        float : left;
    }

    .nav-collapse, .nav-collapse.collapse {
        float  : left;
        clear  : none !important;
        width  : 165px;
        margin : 0 0 0 20px;
    }

    div#hero {
        padding : 10px;
    }

    #hero .item h1 {
        font-size : 18px;
        margin    : 0 0 10px 0;
    }

    #hero .item .btn-center {
        font-size : 14px;
        padding   : 5px 10px;
    }

    #hero .os-icons {
        position : absolute;
        top      : initial;
        right    : 0;
        width    : auto;
    }

    #hero .os-icons div {
        height          : 15px !important;
        width           : 15px !important;
        background-size : 15px 15px !important;
    }

    .btn-huge {
        font-size   : 14px;
        padding     : 5px 10px;
        line-height : normal;
    }

    .span5 {
        margin    : 0 !important;
        font-size : 12px;
    }

    #intro ul li {
        line-height : 1.2;
    }

    #intro + #features > .container + div,
    #intro + #features > .container + div > iframe {
        width  : 100% !important;
        height : auto !important;
    }

    #intro ul {
        width     : 100%;
        margin    : 0 0 0 10px;
        font-size : 13px;
    }

    div#intro {
        margin : 10px 0 0 0;
    }

    #features .section_header {
        margin : 10px 0;
    }

    #features .feature img.thumb {
        width : 100% !important;
    }

    .section_header span {
        font-size : 26px;
    }

    #features .section_header {
        margin : 10px 0 0 0;
    }

    #features .feature h3 {
        font-size : 18px;
        padding   : 0;
        margin    : 0;
    }

    #features .feature p.description {
        width       : 100%;
        padding     : 0;
        line-height : normal;
    }

    #features .feature {
        position      : relative;
        margin-bottom : 40px;
    }

    #features .feature:after {
        content       : "";
        position      : absolute;
        left          : 10%;
        bottom        : -18px;
        width         : 80%;
        border-bottom : 1px solid #777;
    }

    #intro + #features > .container + div {
        margin : 0 !important;
    }

    div#testimonials {
        margin : 0;
    }

    h2.section_header {
        margin : 20px 0 0 0;
    }

    .customer-logos {
        width  : 225px;
        margin : 0 auto;
    }

    .customer-logos img {
        height : 25px !important;
        margin : 5px;
    }

    .customer-logos img:first-child {
        height : 30px !important;
    }

    #testimonials .phrases_wrapper {
        padding : 0;
    }

    #testimonials .phrases_wrapper .phrase .pic {
        padding : 0;
    }

    #testimonials .phrases_wrapper .phrase .pic img {
        width : 50px;
    }

    #testimonials .phrases_wrapper .phrase .pic .position {
        font-size : 10px !important;
    }

    #testimonials .phrases_wrapper .phrase p.testimony {
        font-size   : 12px;
        line-height : normal;
    }

    #testimonials .phrases_wrapper .phrase p.testimony span.bqend,
    #testimonials .phrases_wrapper .phrase p.testimony span.bqstart {
        font-size  : 36px;
        margin-top : -50px;
    }

    #testimonials .phrases_wrapper .phrase br {
        display : none;
    }

    #faqs h4 {
        font-size : 14px;
        margin    : 10px 0 0 0;
    }

    #faqs p {
        font-size   : 12px;
        line-height : normal;
        margin      : 0;
    }

    .course {
        padding : 5px;
    }

    .course img {
        width : 50px !important;
    }

    .course a.btn {
        margin      : 0 !important;
        padding     : 5px 10px;
        font-size   : 12px;
        line-height : 0;
    }

    .course h4 {
        font-size   : 14px;
        line-height : normal;
        margin      : 0 0 10px 0;
    }

    .course div p {
        font-size   : 16px !important;
        line-height : normal;
    }

    #faqs ~ br {
        display : none;
    }

    .press img {
        height : 15px;
        width  : auto;
        margin : 5px 10px;
    }

    .press {
        width      : 275px;
        text-align : center;
        margin     : 0 auto;
    }

    footer#footer {
        margin  : 25px -10px 10px -10px;
        padding : 0;
        /*width   : calc(100% + 20px);*/
    }

    footer .row {
        margin : 10px 0 0 0 !important;
    }

    footer img {
        width  : 75px;
        margin : 0 15px 0 0 !important;
    }

    footer h3 {
        font-size : 14px !important;
    }

    footer div {
        font-size   : 12px !important;
        line-height : normal;
    }

    footer .container {
        padding : 0 20px 0 10px;
    }

    footer div {
        margin : 0 !important;
    }

    footer h3 + div br + a {
        float : right;
    }

    footer h3 + div br {
        display : none;
    }

    footer h3 + div a {
        font-size : 14px;
    }

    footer div {
        margin : 0 !important;
    }

    footer h3 + div br + a {
        float : right;
    }

    footer h3 + div br {
        display : none;
    }

    footer h3 + div a {
        font-size : 13px;
        color     : #60a2ff;
    }

    footer h3 {
        margin-bottom : 0 !important;
        line-height   : normal;
    }

    footer .contact_us .field .label_field {
        width : 120px;
    }

    footer .contact_us .field {
        margin : 10px 0 0 0 !important;
    }

    footer .contact_us button[type="submit"] {
        margin : 10px 0 0 0;
    }

    footer .contact_us .field input,
    footer .contact_us .field textarea {
        width : calc(100% - 10px);
    }

    /* PRICE TABLE */
    #pricing .price-chart table {
        margin : -100px auto 0 auto;
    }

    #pricing .price-chart table th,
    #pricing .price-chart table td {
        font-size   : 12px !important;
        line-height : normal !important;
        width       : 25px !important;
        padding     : 0;
        min-width   : 0;
        border      : none !important;
    }

    #pricing .price-chart table td div {
        margin : 0 10px;
    }

    thead tr th,
    tr.price-row td {
        font-size         : 10px !important;
        height            : 20px !important;
        line-height       : normal;
        text-align        : left;
        padding           : 0 0 0 10px !important;
        position          : relative;
        top               : -6px;
        left              : -15px;
        -ms-transform     : rotate(-45deg); /* IE 9 */
        -webkit-transform : rotate(-45deg); /* Chrome, Safari, Opera */
        transform         : rotate(-60deg);
    }

    thead tr {
        display  : block !important;
        position : relative;
        width    : 100px !important;
    }

    tr.price-row {
        position : relative;
        display  : block;
        width    : 100px;
    }

    tr.price-row.hide {
        display : none;
    }

    #pricing .price-chart table th,
    #pricing .price-chart table tr:nth-child(2) td {
        display  : inline-block;
        position : relative;
        width    : 100% !important;
    }

    #pricing .price-chart table th:nth-child(2) {
        left : 79px;
        top  : 159px;
    }

    #pricing .price-chart table tr:nth-child(2) td:nth-child(2) {
        left    : 105px;
        top     : 57px;
        height  : 30px !important;
        z-index : -1;
    }

    #pricing .price-chart table th:nth-child(3) {
        left : 140px;
        top  : 138px;
    }

    #pricing .price-chart table tr:nth-child(2) td:nth-child(3) {
        left    : 171px;
        top     : 16px;
        height  : 30px !important;
        z-index : -1;
    }

    #pricing .price-chart table th:nth-child(4) {
        left : 196px;
        top  : 116px
    }

    #pricing .price-chart table tr:nth-child(2) td:nth-child(4) {
        left   : 225px;
        top    : -5px;
        height : 30px !important;
    }

    #pricing .price-chart table th:nth-child(5) {
        left  : 261px;
        top   : 112px;
        width : 70px !important;
    }

    #pricing .price-chart table tr:nth-child(2) td:nth-child(5) {
        left    : 280px;
        top     : -9px;
        width   : 50px !important;
        z-index : -1;
    }

    tr.price-row td {
        top  : -24px;
        left : 8px;
    }

    #pricing .price-chart table .price-row td span {
        font-size : 12px;
    }

}
