@media (max-width : 736px) {
  body#welcome-programs {
    box-sizing : border-box !important;
    width      : auto !important;
    min-width  : 0 !important;
    height     : auto;

    .col-xs-4 {
      width   : 100% !important;
      display : block !important;
      float   : none;
      clear   : both;
      padding : 10px;
    }

    .col-xs-5 {
      width   : 100% !important;
      float   : none;
      clear   : both;
      display : block !important;
    }

    .col-xs-7 {
      width   : 100%;
      padding : 0;
    }

    .col-xs-offset-1 {
      margin : 0;
    }

     div.master {

      //width     : 300px !important;
      min-width : 0;

      .navbar.navbar-default.navbar-fixed-top.primary-nav {

        a.open-menu {
          padding : 0 !important;
        }

        //width : 300px !important;

        .container.navbar-container {

          //width : 300px !important;

          .navbar-header {

            //width : 300px !important;

            img.logo-main {
              padding    : 0 !important;
              margin     : 0 !important;
              text-align : right !important;
            }
          }
        }
      }

      div#programs-header {
        //width : 300px;
        .container.body-container {
          //width : 300px !important;
          min-width : 0;
          padding   : 0;
        }

        h1.hero {
          font-size : 32px !important;
          width     : 270px;
        }

        p.hero-sub-3 {
          padding   : 0 !important;
          font-size : 16px !important;
        }
      }

      h1.hero {
        font-size : 20px !important;
        width     : 270px;
      }

      .container.light {
        min-width : 0;
        //width     : 300px !important;
      }

      .container.dark {
        min-width : 0;
        //width     : 300px;
      }

      .sweettalk-container,
      .program-2-container {
        width           : 300px; // KEEP
        padding         : 0;
        margin          : 0 auto;
        background-size : 285px;
        height          : 525px;
      }

      .row.sample-container {
        //width     : 300px;
        min-width : 0;
      }

      #platform-module img.hero-product-footer {
        width   : 100%;
        margin  : 0 !important;
        padding : 0 !important;
      }

      .container {
        width     : auto;
        min-width : 0;
      }

      .iphone-msg-container {
        top         : 115px;
        margin-left : 40px;
        height      : 290px;
      }

      ul.nav.nav-pills {
        width : 200px !important;
        float : none;
      }

      ul.nav.nav-pills li {
        width : 49%;
      }

    }

    .navbar.navbar-default.navbar-fixed-top.secondary-nav {
      //width: 300px;
    }
    .container.navbar-container {
      margin : 0;
    }

    .navbar.navbar-default.navbar-fixed-top.primary-nav {
      padding : 0;
    }

    div#programs-header {
      height      : auto !important;
      min-height  : 275px;
      padding-top : 45px;
    }

    .container.body-container {
      vertical-align : middle;
    }

    .container.body-container {
      padding : 30px 0 !important;
    }

    #programs-body {
      padding : 20px !important;

      p {
        max-width : 325px;
        margin    : auto;

        br {
          display : none;
        }
      }
    }

    h1.hero {
      margin : 10px auto;
    }

    img.hero-sub {
      margin : 0 auto;
    }

    p.hero-sub-3 {
      width     : calc(~"100% - 100px") !important;
      max-width : 335px;
      margin    : 10px auto !important;
    }

    .extra-space {
      margin-top    : 0 !important;
      margin-bottom : 0 !important;
    }

    div#programs-1 {
      margin : 10px auto;
    }

    h1.hero-grey {
      font-size : 20px;
    }

    .col-sm-2 {
      margin  : 0 auto !important;
      width   : 48%;
      display : inline-table;
    }

    ul.conditions-list li {
      font-size   : 10px;
      line-height : 9px;
    }

    .col-sm-2 {
      float : left;
    }

    p.hero-sub-sample {
      max-width : 370px;
      margin    : 0 auto;
    }

    div#sample-hero {
      padding : 20px;
    }

    .row.sample-container {
      padding : 0;
    }

    .col-xs-5 {
      padding : 15px 0;
    }

    hr {
      margin : 20px 0;
    }

    h3.hero {
      font-size : 12px;
      margin    : 0 0 10px 0;
    }

    .col-xs-6 {
      padding : 10px;
    }

    p.other-features-caption {
      font-size : 12px;
    }

    div#platform-module {
      padding : 20px 0;
    }

    #platform-module img.hero-footer {
      margin : 0 20px 10px 20px;
      float  : left;
      width  : 75px;
    }

    #platform-module h1.hero {
      margin : 0 0 0 50px !important;
    }

    div.master .col-xs-5 p.hero-sub-3 {
      margin : 0 0 0 20px !important;
      width  : calc(~"100% - 40px") !important;
    }

    a.video-hero-call,
    a.open-contact.call-to-action.contact {
      float     : right;
      margin    : 0 20px 0 0;
      font-size : 14px;
      padding   : 5px 10px;
    }

    a.open-contact.call-to-action.contact {
      margin : 10px 0 !important;
    }

    .call-to-action-caption {
      font-size : 18px;
    }

    #platform-module h1.hero {
      font-size : 18px !important;
    }

    div.master p.hero-sub-3 {
      font-size : 12px !important;
    }

    nav.footer-nav .col-xs-2 {
      width : 27%;
    }

    nav.footer-nav .col-xs-6 {
      width : 100% !important;
    }

    .copyright a:first-child {
      display : block;
    }

    div.master div#programs-header .container.body-container p.hero-sub-3 {
      //margin: 0 auto !important;
    }

  }
}

